* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.icon {
  margin-top: 5%;
  margin-left: 50px;
  display: flex;
}
.icon img {
  width: 28px;
  height: 28px;
}
.icon p {
  font-family: "Cal Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  margin-left: 1%;
}
.text p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: rgba(18, 18, 18, 0.4);
  margin-left: 100px;
}
.text2 p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: rgba(18, 18, 18, 0.4);
  margin-left: 40px;
}
.text3 p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: rgba(18, 18, 18, 0.4);
  margin-left: 40px;
}
.guitar img {
  width: 465px;
  height: 436px;
  margin-left: 11%;
}
.h p {
  position: absolute;
  bottom: 200px;
  left: 50px;
  font-family: "Cal Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 57px;
  width: 410px;
  color: #121212;
}
.colortext {
  color: #ff6428;
}
.small-text {
  position: absolute;
  bottom: 140px;
  left: 55px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  width: 330px;
  color: #666666;
}
.header {
  position: relative;
}
button {
  position: absolute;

  left: 50px;
  padding: 20px 60px 20px 60px;
  background-color: #ff6428;
  border: #ff6428;
  border-radius: 100px;
  color: white;
}
.main {
  display: flex;
  position: relative;
}
.appstore img {
  margin-left: 300px;
  margin-top: 10px;
}
.apple img {
  margin-top: 4px;
  margin-left: 30px;
}
.color {
  color: #ff6428;
}
.h2 {
  font-family: "Cal Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  margin-top: 300px;
  margin-left: 320px;
}
.photos {
  display: flex;
}
.new {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  margin-left: 20px;
  margin-top: 80px;
}
.guitar1 p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;

  color: #121212;
}
.cost {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}
.guitar1 img {
  width: 300px;
}

.all {
  margin-left: 20px;
}
.guitar2 img {
  width: 300px;
  margin-left: 35px;
}
.guitar2 p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;

  color: #121212;
}
.all2 {
  margin-left: 18%;
}

.guitar3 img {
  width: 300px;
  margin-left: 35px;
}
.all3 {
  margin-left: 18%;
}

.guitar4 img {
  width: 300px;
}
.all4 {
  margin-left: 20px;
}

.guitar5 img {
  width: 300px;
  margin-left: 45px;
}
.photos2 {
  display: flex;
  margin-top: 70px;
}

.all5 {
  margin-left: 60px;
}
.guitar6 img {
  width: 300px;
  margin-left: 35px;
}

.all6 {
  margin-left: 15%;
}
.choose1 {
  font-family: "Cal Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  margin-top: 270px;
  margin-left: 270px;
}
.color2 {
  color: #ff6428;
}
.cards {
  display: flex;
}
.card1 img {
  width: 170px;
  margin-top: 50%;
  margin-left: 20%;
}
.card1p {
  margin-left: 95px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;

  color: #000000;
}
.card2 img {
  width: 170px;
  margin-top: 39%;
  margin-left: 50%;
}
.guitar2p {
  margin-left: 170px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;

  color: #000000;
}
.guitar3p {
  margin-left: 175px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;

  color: #000000;
}
.card3 img {
  width: 170px;
  margin-top: 40%;
  margin-left: 60%;
}
.card4 img {
  width: 170px;
  margin-top: 32%;
  margin-left: 60%;
}
.guitar4p {
  margin-left: 210px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;

  color: #000000;
}
.color3 {
  color: #ff6428;
}
.the {
  font-family: "Cal Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  margin-top: 270px;
  margin-left: 270px;
}
.themain {
  display: flex;
  margin-top: 100px;
  margin-left: 70px;
}
.shrift2 {
  padding-left: 100px;
}
.shrift3 {
  padding-left: 100px;
}
.shrift4 {
  padding-left: 100px;
}

.shrift6 {
  padding-left: 150px;
}
.themain2 {
  display: flex;
  margin-top: 100px;
  margin-left: 90px;
}
.shrift7 {
  padding-left: 100px;
}
.shrift8 {
  padding-left: 100px;
}

.color5 {
  color: #ff6428;
}

.try {
  font-family: "Cal Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  margin-top: 270px;
  margin-left: 300px;
}
.main-photo {
  position: relative;
}
.block img {
  margin-top: 200px;
  margin-left: 10px;
}
.block2 img {
  position: absolute;
  bottom: 5px;
  left: 80px;
}
.big-cards {
  position: relative;
}
.blockmain {
  display: flex;
}
.big {
  margin-left: 220px;
  margin-top: 100px;
  width: 300px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;

  color: #666666;
}
.ryan {
  margin-left: 220px;
  margin-top: 250px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;

  color: #000000;
}
.down {
  margin-top: 15px;
  margin-left: 220px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;

  color: #868686;
}
